* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  gap: 16px;
  background-color: black;
  padding: 8px;
  color: white;
}
.header > a {
  color: white;
  text-decoration: none;
}
.showCase {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 8px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
}
.productImg {
  height: 100px;
  width: auto;
}
.productImgLarge {
  height: 200px;
  width: auto;
}
.cartItem {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
}
.cartItemCount,
.cartItemPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}
.cartItemDetails {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* justify-content: center;
  justify-items: center; */
}
.cartItemImgContainer {
  display: flex;
  justify-content: center;
}
